@font-face {
  font-family: "Futura PT Bold";
  src: url(/c1c93dd4b376a2f9e912.eot);
  src: url(/c1c93dd4b376a2f9e912.eot?#iefix) format("embedded-opentype"), url(/865ce0972d3d4b924a5e.woff) format("woff"), url(/30a810fad83f1237882b.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 16px;
  color: #232323;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  color: #28ad3b;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  -webkit-box-shadow: 0 0.005rem 0.2rem 0.05rem #d3d3d3;
          box-shadow: 0 0.005rem 0.2rem 0.05rem #d3d3d3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  width: 160px;
  height: 50px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.icon-menu {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 0px 20px;
}

.icon-menu::before,
.icon-menu::after {
  content: "";
  height: 2px;
}

.icon-menu.active {
  left: 15px;
  top: 10px;
}

.icon-menu.active::before {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.icon-menu.active::after {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-menu span {
  height: 2px;
}

.icon-menu.active span {
  background-color: transparent;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.menu__list span {
  color: #999;
}

.menu__link {
  color: #999;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}

.menu__link:focus,
.menu__link:hover {
  color: #cc0000;
}

.main {
  line-height: normal;
}

.main__container {
  padding: 80px 25px 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content {
  border-right: 1px solid #ade0b4;
  border-left: 1px solid #ade0b4;
  width: 80%;
  padding: 0px 20px;
}

.main__text {
  margin-bottom: 20px;
}

.main__img {
  margin: 5px auto 10px auto;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.main__img--left {
  max-width: 285px;
  margin: 9px 20px 0 0;
  float: left;
}

.main__img--product {
  max-width: 300px;
}

.main__product {
  position: relative;
}

.price {
  font-size: 18px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 170px;
  right: 180px;
  width: 165px;
  height: 100px;
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
          transform: rotate(-7deg);
  border-radius: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgb(238, 165, 19)), to(rgb(253, 237, 19)));
  background: -o-linear-gradient(left, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
}

.price__main {
  border-bottom: 2px solid #d31812;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#time {
  font-weight: 700;
  color: red;
}

h1 {
  font-family: "Futura PT Bold";
  font-size: 26px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 40px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}

.form__col:last-child {
  margin-right: 0;
}

.form__row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.form__block {
  margin-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__title {
  margin-bottom: 2px;
}

.form__input {
  text-align: center;
  width: 100%;
  height: 58px;
  border: solid 1px grey;
  border-radius: 4px;
}

.form__input.input-error {
  border: 2px solid red;
}

.form__input:focus {
  border-color: black;
  outline: none;
}

.btn {
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: #d62a2a;
}

.comment__title {
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 80px;
}

.comment__item {
  padding: 20px 0;
  border-top: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-comment__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.item-comment__data {
  font-size: 13px;
  color: #c7adad;
  margin-bottom: 6px;
}

.item-comment__name {
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
}

.item-comment__text {
  margin-bottom: 15px;
}

.item-comment__img {
  width: 100%;
}

.comment-btn {
  padding-top: 40px;
  border-top: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.btn:link,
.btn:visited {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 20px 0px;
  background-color: #2b3139;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
  row-gap: 20px;
}

.footer__logo {
  position: relative;
  z-index: 5;
}

.footer__logo img {
  width: 160px;
  height: 50px;
}

.footer__privacy {
  font-family: "Futura PT";
  color: white;
  font-size: 12px;
}

.footer__privacy-text:not(:last-child) {
  margin-right: 10px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__socials-link img {
  width: 16px;
  height: 16px;
}

@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 30px 0;
  }

  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479.98px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 72px;
    row-gap: 10px;
    margin: 10px 0px;
  }

  .main__container {
    padding: 90px 25px 20px 25px;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}