.main {
  line-height: normal;
  // .main__container

  &__container {
    padding: 90px 25px 20px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .main__background

  &__background {
    display: flex;
    align-items: center;
	 margin-bottom: 20px;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  // .main__background-img-wrapper

  &__background-img-wrapper {
    width: 62.66667%;
    order: 2;
    position: relative;
    margin: auto;

    @media (max-width: 767.98px) {
      width: 100%;
    }
  }

  // .main__background-img

  &__background-img {
    width: 100%;
  }

  // .main__background-caption

  &__background-caption {
    font-family: "Futura PT Bold";
    width: 38.33333%;
    text-align: left;
    z-index: 1;
    order: 1;
    position: relative;
    bottom: auto;
    letter-spacing: 0.05rem;

    @media (max-width: 767.98px) {
      width: 90%;
		margin: 16px 22px -0.8rem;
    }
  }

  // .main__background-text

  &__background-text {
    position: relative;
    width: calc(100% + 65px);
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #c00;
    color: #fff;
    padding: 16px 32px;
    transform: translateX(0);

	 @media (max-width: 767.98px) {
		padding: 16px;
		width: 100%;
		text-align: center;
	 }
  }

  // .main__background-title

  &__background-title {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 991.98px) {
      font-size: 1rem;
    }
	 @media (max-width: 767.98px)  {
		font-size: 1.5rem;
	}
  }

  // .main__background-desc

  &__background-desc {
    font-size: 0.95rem;

    @media (max-width: 991.98px) {
      font-size: 0.85rem;
    }
  }

  // .main__content

  &__content {
    width: 100%;
	 padding-bottom: 50px;
  }

  // .main__text

  &__text {
    margin-bottom: 20px;
    line-height: 1.8rem;
  }

  // .main__link
  &__link {
    color: #cc0000;
    border-bottom: 1px dashed #cc0000;

    &:hover {
      color: #232323;
      border-bottom: 1px dashed #232323;
    }
  }

  // .main__img

  &__img {
    margin: 5px auto 10px auto;
    display: block;
    width: 90%;
    margin-bottom: 20px;

    &--left {
      max-width: 285px;
      margin: 9px 20px 0 0;
      float: left;
    }
    &--product {
      max-width: 300px;
    }
  }

  // .main__product

  &__product {
  }
}

.price {
  font-size: 18px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 150px;
  width: 165px;
  height: 100px;
  transform: rotate(-7deg);
  border-radius: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background: linear-gradient(
    to right,
    rgb(238, 165, 19) 0%,
    rgb(253, 237, 19) 100%
  );
  box-shadow: rgb(0 0 0 / 80%) 0px 3px 30px;

  &__main {
    border-bottom: 2px solid #d31812;
  }
}
.timer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#time {
  font-weight: 700;
  color: red;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.25rem;
  font-weight: 700;

  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__col {
  flex: 1;
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }
}
.form__row {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.form__block {
  margin-bottom: 10px;
  flex: 1 1 auto;
}
.form__title {
  margin-bottom: 2px;
}
.form__input {
  text-align: center;

  width: 100%;
  height: 58px;
  border: solid 1px grey;
  border-radius: 4px;

  &.input-error {
    border: 2px solid red;
  }

  &:focus {
    border-color: black;
    outline: none;
  }
}

.btn {
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: #d62a2a;
}

.main {
  // .main__comment

  &__comment {
  }
}
.comment {
  // .comment__title

  &__title {
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 80px;
  }

  // .comment__item

  &__item {
    padding: 20px 0;
    border-top: 1px solid #c4c4c4;
    display: flex;
  }
}
.item-comment {
  // .item-comment__icon

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  // .item-comment__body

  &__body {
  }

  // .item-comment__data

  &__data {
    font-size: 13px;
    color: #c7adad;
    margin-bottom: 6px;
  }

  // .item-comment__name

  &__name {
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
  }

  // .item-comment__text

  &__text {
    margin-bottom: 15px;
  }

  // .item-comment__img

  &__img {
    width: 90%;
  }

}
.main__product-wrapper {
  position: relative;
  max-width: 300px;
  margin: 15px auto;
}
.main__product-img {
  width: 100%;
  max-width: 300px;
}
.comment-btn {
  padding-top: 40px;
  border-top: 1px solid #c4c4c4;

  display: flex;
  justify-content: center;
  text-align: center;
}
.btn {
  &:link,
  &:visited {
    transition: all 0.2s;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
