.menu {
  display: flex;
  justify-content: center;

  // .menu__list

  &__list {
    display: flex;
    gap: 20px;

    & span {
      color: #999;
      @media (max-width: 991.98px) {
        color: #fff;
      }
    }
  }

  // .menu__link

  &__link {
    color: #999;
    position: relative;
    font-size: 13px;

    @media (max-width: 991.988px) {
      color: #fff;
    }

    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;

    &:focus,
    &:hover {
      color: #cc0000;
		@media (max-width: 991.988px) {
			color: #fff;
			border-bottom: 1px solid #fff;
		 }
    }
  }
}
